<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SimSearch</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen w-screen flex gap-4 flex-col justify-center items-center">
    <h1 class="text-6xl font-bold text-center">SimSearch</h1>
    <form action="search" method="get">
        <input name="q" type="text" placeholder="Search" class="p-2 border-2  rounded-md" value="">
        <button type="submit" class="px-4 py-2 bg-purple-500 text-slate-50 font-semibold rounded-md ">Go</button>
    </form>
</body>
</html>